In [1]:
import numpy as np

arr = np.array([10,20,30,40,50])
arr

array([10, 20, 30, 40, 50])

In [7]:
type(np.nan)

float

In [8]:
arr[1]=np.nan
arr

ValueError: cannot convert float NaN to integer

In [9]:
new_arr = arr.astype(float)
new_arr

array([10., 20., 30., 40., 50.])

In [10]:
type(np.nan)

float

In [11]:
new_arr[1]=np.nan
new_arr

array([10., nan, 30., 40., 50.])

In [13]:
# np.sqrt(np.add(x**2,y**2))

In [15]:
np.random.normal(15,2, size=(3,4))    # it gives random values within range of 2 for 15 i.e 13-15 or 15-17 inbetween numbers

array([[14.38633827,  9.54960599, 19.76351434, 11.74604512],
       [15.06223084, 16.22972917, 13.04519112, 17.65567899],
       [ 8.33885913,  5.55137072, 17.61371706, 14.95072604]])

In [16]:
np.random.normal(size=(3,4))

array([[-1.61456731,  1.19486059, -1.67181976, -1.07281701],
       [ 0.30496408, -0.70050188,  0.05459295,  0.53900201],
       [-1.37339271,  0.34838471, -1.35807626, -0.78671849]])

In [17]:
arr2 = np.array([10,20,30,40,50,60,70])
arr2

array([10, 20, 30, 40, 50, 60, 70])

In [18]:
arr2[arr2 > 40]

array([50, 60, 70])

In [19]:
np.where[arr2 > 40]

TypeError: 'numpy._ArrayFunctionDispatcher' object is not subscriptable

In [21]:
np.where(arr2 > 40)   # it gives us index position

(array([4, 5, 6]),)

In [22]:
np.where(arr2 > 40 ,"GS","LS")

array(['LS', 'LS', 'LS', 'LS', 'GS', 'GS', 'GS'], dtype='<U2')

In [25]:
arr3 = np.arange(20)
arr3

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [28]:
np.where(arr3 < 5 ,"less than 5", np.where(arr3 <15, "less than 15","grater than 15"))

array(['less than 5', 'less than 5', 'less than 5', 'less than 5',
       'less than 5', 'less than 15', 'less than 15', 'less than 15',
       'less than 15', 'less than 15', 'less than 15', 'less than 15',
       'less than 15', 'less than 15', 'less than 15', 'grater than 15',
       'grater than 15', 'grater than 15', 'grater than 15',
       'grater than 15'], dtype='<U14')

In [29]:
np.argmax(arr3)

np.int64(19)

In [30]:
np.argmin(arr3)

np.int64(0)

In [35]:
zero_arr = np.zeros((4,3))
ones_arr = np.ones((4,3))
zero_arr,ones_arr

(array([[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]),
 array([[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]))

In [38]:
np.concatenate((zero_arr,ones_arr),axis=1)

array([[0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.]])

In [39]:
np.concatenate((zero_arr,ones_arr),axis=0)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [41]:
np.hstack([zero_arr,ones_arr])

array([[0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1., 1.]])

In [42]:
zero_arr = np.zeros((4,3))
ones_arr = np.ones((6,4))
zero_arr_1 = np.identity(5)
zero_arr,ones_arr

(array([[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]),
 array([[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]))

In [45]:
np.concatenate([zero_arr,ones_arr],axis=0)   # not having same dimensons of array

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 3 and the array at index 1 has size 4

In [46]:
zero_arr_1 = np.identity(5)

In [47]:
zero_arr_1

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [72]:
arr4  = np.random.randint(10,20,size=(4,3))
arr4,arr4.ndim

(array([[17, 14, 17],
        [13, 10, 16],
        [10, 12, 12],
        [10, 14, 19]], dtype=int32),
 2)

In [58]:
np.sort(arr4,axis=0)

array([[13, 11, 11],
       [14, 14, 13],
       [15, 18, 14],
       [18, 19, 19]], dtype=int32)

In [65]:
np.sort(arr4,axis=1)

array([[14, 14, 18],
       [13, 13, 19],
       [11, 11, 18],
       [14, 15, 19]], dtype=int32)

In [66]:
np.mean(arr4,axis=0)

array([15.  , 15.5 , 14.25])

In [61]:
np.mean(arr4,axis=1)

array([15.33333333, 15.        , 13.33333333, 16.        ])

In [73]:
arr5  = np.random.randint(10,40,size=(5,4))
arr5, arr5.ndim

(array([[12, 35, 30, 22],
        [29, 12, 11, 15],
        [22, 16, 30, 12],
        [10, 16, 32, 30],
        [30, 15, 27, 16]], dtype=int32),
 2)

In [77]:
arr5[:,1].argsort()  # sorting based on index for column 1 and all rows , it maintains data even if we sort it

array([1, 4, 3, 2, 0])

In [76]:
arr5[2,:].argsort() # sorting based on index for row 2 and all columns

array([3, 1, 0, 2])

In [78]:
lex_sort = np.lexsort((arr5[:,0], arr5[:,3]))
lex_sort

array([2, 1, 4, 0, 3])

In [79]:
arr5[lex_sort]

array([[22, 16, 30, 12],
       [29, 12, 11, 15],
       [30, 15, 27, 16],
       [12, 35, 30, 22],
       [10, 16, 32, 30]], dtype=int32)

In [82]:
arr5

array([[12, 35, 30, 22],
       [29, 12, 11, 15],
       [22, 16, 30, 12],
       [10, 16, 32, 30],
       [30, 15, 27, 16]], dtype=int32)

In [83]:
lex_sort = np.lexsort((arr5[:,3], arr5[:,0]))
lex_sort

array([3, 0, 2, 1, 4])

In [81]:
arr5[lex_sort]

array([[10, 16, 32, 30],
       [12, 35, 30, 22],
       [22, 16, 30, 12],
       [29, 12, 11, 15],
       [30, 15, 27, 16]], dtype=int32)

In [85]:
arr5

array([[12, 35, 30, 22],
       [29, 12, 11, 15],
       [22, 16, 30, 12],
       [10, 16, 32, 30],
       [30, 15, 27, 16]], dtype=int32)

In [89]:
lex_sort_row = np.lexsort((arr5[:,1],arr5[:,3]))   # we try to sort by col
lex_sort_row

array([2, 1, 4, 0, 3])

In [90]:
arr5[lex_sort_row,:] # we pass col first and then rows

array([[22, 16, 30, 12],
       [29, 12, 11, 15],
       [30, 15, 27, 16],
       [12, 35, 30, 22],
       [10, 16, 32, 30]], dtype=int32)

In [91]:
lex_sort_row = np.lexsort((arr5[0,:],arr5[2,:]))   # we try to sort by row
lex_sort_row

array([3, 1, 0, 2])

In [93]:
arr5[:,lex_sort_row]    # we pass row first and then col

array([[22, 35, 12, 30],
       [15, 12, 29, 11],
       [12, 16, 22, 30],
       [30, 16, 10, 32],
       [16, 15, 30, 27]], dtype=int32)