In [1]:
print("hello")

hello

In [2]:
a = 10
type(a)

int

In [3]:
""
algorithm

""

NameError: name 'algorithm' is not defined

In [4]:
""""
Algotithm

"""

'"\nAlgotithm\n\n'

In [7]:
a = input("rnter the values")
a

'10'

In [8]:
a = 10
b = 15
if a>b:
    print("a is greater than b")
else:
    print("b is greater")

b is greater

In [9]:
c = 10,15,20,25
type(c)

tuple

In [12]:
cond1 = a < b
cond2 = 10 in c
cond1 , cond2

(True, True)

In [14]:
if cond1 and cond2:
    print("a is not greater than b")
else:
    print("a is greater")

a is not greater than b

In [15]:
if cond1 or cond2:
    print("a is not greater than b")
else:
    print("a is greater")

a is not greater than b

In [16]:
cond1 = a < b
cond2 = 15 in c
cond1 , cond2

(True, True)

In [17]:
if cond1 or cond2:
    print("a is not greater than b")
elif cond2:
    print("a is greater")

else:
    print("nothing")

a is not greater than b

In [18]:
cname = "bizmetric"
cname[1]

'i'

In [19]:
len(cname)

9

In [20]:
l1 = [10,20,30,4,[15,25,89]]
l1

[10, 20, 30, 4, [15, 25, 89]]

In [22]:
l1[3]

4

In [23]:
l1[4][1]

25

In [24]:
d1 = {"a":10,"b":16,"c":20}
d1

{'a': 10, 'b': 16, 'c': 20}

In [26]:
d1[0]

KeyError: 0

In [30]:
# to access elements from dictionaries
d1["c"]

20

In [29]:
d1["a"]

10

In [31]:
s1 = {1,2,3,666,666,20,20,"hello"}
s1

{1, 2, 20, 3, 666, 'hello'}

In [32]:
type(s1)

set

In [33]:
l1

[10, 20, 30, 4, [15, 25, 89]]

In [38]:
l1[5]=100
type(l1)
l1

[10, 20, 30, 4, [15, 25, 89], 100]

In [53]:
# ADD VALUES IN LIST METHODS

In [34]:
l1.append(20)

In [35]:
l1

[10, 20, 30, 4, [15, 25, 89], 20]

In [39]:
l1.extend(20)
l1

TypeError: 'int' object is not iterable

In [41]:
l1.insert(200)
l1

TypeError: insert expected 2 arguments, got 1

In [46]:
l1.insert(4,1000)
l1

[10, 20, 30, 40, 1000, 30, 200, 200, 4, [15, 25, 89], 100]

In [49]:
l1.insert(2,"vicky")
l1

[10,
 20,
 'vicky',
 'vikrant',
 'vikrant',
 30,
 40,
 1000,
 30,
 200,
 200,
 4,
 [15, 25, 89],
 100]

In [50]:
l1.extend(d1)
l1

[10,
 20,
 'vicky',
 'vikrant',
 'vikrant',
 30,
 40,
 1000,
 30,
 200,
 200,
 4,
 [15, 25, 89],
 100,
 'a',
 'b',
 'c']

In [51]:
list1 = [10,20,"hello",[20,96,78],(47,69)]
list1

[10, 20, 'hello', [20, 96, 78], (47, 69)]

In [52]:
list1.extend(d1)
list1

[10, 20, 'hello', [20, 96, 78], (47, 69), 'a', 'b', 'c']

In [54]:
# DELETE ITEMS FROM LIST METHODS

In [55]:
list1.pop() # remove last elements
list1

[10, 20, 'hello', [20, 96, 78], (47, 69), 'a', 'b']

In [56]:
list1.remove(20)  # based on values
list1

[10, 'hello', [20, 96, 78], (47, 69), 'a', 'b']

In [58]:
list1.pop(0) # we can pass index position
list1

[[20, 96, 78], (47, 69), 'a', 'b']

In [59]:
list1.remove("a")
list1

[[20, 96, 78], (47, 69), 'b']

In [60]:
del list1[2] # index is given 
list1

[[20, 96, 78], (47, 69)]

In [67]:
# to count the number of elements

list2 = [10, 20,20,"a","b","b","",'hello', [20, 96, 78], (47, 69), 'a', 'b', 'c']
list2.count("b")

3

In [68]:
list2.count("")

1

In [66]:
list2.count(" ")

0

In [71]:
list2[8].insert(0,15)
print(list2)

[10, 20, 20, 'a', 'b', 'b', '', 'hello', [15, 15, 20, 96, 78], (47, 69), 'a', 'b', 'c']

In [73]:
list2[8].count(15)

2

In [75]:
list2.sort()  # bcoz we have different data type available

TypeError: '<' not supported between instances of 'str' and 'int'

In [78]:
list2[-5].sort()
print(list2)

[10, 20, 20, 'a', 'b', 'b', '', 'hello', [15, 15, 20, 78, 96], (47, 69), 'a', 'b', 'c']

In [82]:
list2.reverse()  # substring will not get reverse
print(list2)

[10, 20, 20, 'a', 'b', 'b', '', 'hello', [15, 15, 20, 78, 96], (47, 69), 'a', 'b', 'c']

In [86]:
for i in list2:
    print(i,end=" ")

10 20 20 a b b  hello [15, 15, 20, 78, 96] (47, 69) a b c

In [90]:
list2_char = []
list2_num = []
list2_others = []

for i in list2:
    if type(i) == int:
        list2_num.append(i)
    elif type(i) == str:
        list2_char.append(i)
    else:
        list2_others.append(i)

In [91]:
list2_char

['a', 'b', 'b', '', 'hello', 'a', 'b', 'c']

In [92]:
list2_num

[10, 20, 20]

In [93]:
list2_others

[[15, 15, 20, 78, 96], (47, 69)]

In [98]:
lst2 = tuple(set(list2_others[0]))
lst2

(96, 20, 78, 15)

In [101]:
emp_lst = []
for i in range(2,20,3):
    print(i,end=" ")
    emp_lst.append(i)

2 5 8 11 14 17

In [102]:
emp_lst = [i for i in range(2,20,3)]
emp_lst

[2, 5, 8, 11, 14, 17]

In [103]:
emp_lst = [i for i in range(2,20,3) if i%2==0]
emp_lst

[2, 8, 14]

In [106]:
emp_lst = [i for i in range(2,20,3) if i%2==0 else -1]
emp_lst

SyntaxError: invalid syntax (4175319257.py, line 1)

In [105]:
emp_lst = [i else -1 for i in range(2,20,3) if i%2==0]
emp_lst

SyntaxError: invalid syntax (2967517415.py, line 1)

In [108]:
emp_lst = [i if i%2==0 else -i for i in range(2,20,3)]
emp_lst

[2, -5, 8, -11, 14, -17]

In [109]:
emp_lst = [i if i%2==0 else print("odd numbers") for i in range(2,20,3)]
emp_lst

odd numbers
odd numbers
odd numbers

[2, None, 8, None, 14, None]

In [116]:
tup1 = (1,2,3,["a","b","c"])
tup1

(1, 2, 3, ['a', 'b', 'c'])

In [117]:
tup1.index("a")

ValueError: tuple.index(x): x not in tuple

In [119]:
tup1.index(tup1[3])

3

In [122]:
s1 = {1,2,3,4,8}
s1.add("4")
s1

{1, 2, 3, 4, '4', 8}

In [123]:
s1.update([1,2,3,"a","5"])
s1

{1, 2, 3, 4, '4', '5', 8, 'a'}

In [124]:
s1.remove("4")
s1

{1, 2, 3, 4, '5', 8, 'a'}

In [127]:
s1.discard("4")  # discard will show output , it will not give error even if values not present 
s1

{1, 2, 3, 4, '5', 8, 'a'}

In [128]:
s1.remove("4")

KeyError: '4'

In [134]:
s1

{1, 2, 3, 4, '5', 8, 'a'}

In [175]:
s2 = {"1","2","3",4,3}
s2

{'1', '2', 3, '3', 4}

In [176]:

s1.union(s2)

{1, '1', 2, '2', 3, '3', 4, '5', 8, 'a'}

In [132]:
s1.intersection(s2)

{3, 4}

In [177]:
s1.symmetric_difference(s2) # exclude common values and remaining from s1

{1, '1', 2, '2', '3', '5', 8, 'a'}

In [138]:
s1.difference(s2)  # include only those who are present in s1 and not in s2

{1, 2, '5', 8, 'a'}

In [139]:
d1

{'a': 10, 'b': 16, 'c': 20}

In [142]:
d2 = {"x":100,"y":[1,2,3]}
d1.update(d2)
d1

{'a': 10, 'b': 16, 'c': 20, 'x': 100, 'y': [1, 2, 3]}

In [144]:
d2["name"] = "biz"  # to add new value
d2

{'x': 100, 'y': [1, 2, 3], 'name': 'biz'}

In [145]:
d1["y"]

[1, 2, 3]

In [146]:
d1["y"][1]

2

In [148]:
d2.items()

dict_items([('x', 100), ('y', [1, 2, 3]), ('name', 'biz')])

In [149]:
d2.keys()

dict_keys(['x', 'y', 'name'])

In [165]:
d2.values()

dict_values([1000, [1, 2, 3], 'biz'])

In [151]:
d1.pop("a")

10

In [154]:
list4 = [10,20,30]

In [157]:
lst5 = ["a","b","c"]

In [159]:
d2.fromkeys(lst5)

{'a': None, 'b': None, 'c': None}

In [ ]:
lst6 = []

In [153]:
d2["x"]=1000
d2

{'x': 1000, 'y': [1, 2, 3], 'name': 'biz'}

In [160]:
d2.get("y")

[1, 2, 3]

In [161]:
list4 = [10,20,30]

In [162]:
abcd = d2.fromkeys(list4)
abcd

{10: None, 20: None, 30: None}

In [164]:
abcd[(1,2)]="keys"

In [166]:
abcd[(1,2)]

'keys'

In [167]:
abcd[(1,2)]="values"
abcd[(1,2)]

'values'

In [171]:
zip(list4,lst5) # use to merge two datatypes

In [170]:
dict(zip(list4,lst5))

{10: 'a', 20: 'b', 30: 'c'}

In [172]:
tup2 = (10,20,69,78,"abc")
dict(zip(list4,tup2))

{10: 10, 20: 20, 30: 69}

In [173]:
lst6 = ["abc","bvg",24,89,36,(10,45,78)]
tup3 = (10,20,69,78,"abc",7)
list(zip(lst6,tup3))

[('abc', 10), ('bvg', 20), (24, 69), (89, 78), (36, 'abc'), ((10, 45, 78), 7)]

In [174]:
lst6 = ["abc","bvg",24,89,36,(10,45,78)]
tup3 = (10,20,69,78,"abc",7)
dict(zip(lst6,tup3))

{'abc': 10, 'bvg': 20, 24: 69, 89: 78, 36: 'abc', (10, 45, 78): 7}

In [179]:
from datetime import datetime
from datetime import date
from datetime import time

In [181]:
a = datetime.now()
print(type(a))
a

<class 'datetime.datetime'>

datetime.datetime(2025, 1, 8, 13, 28, 41, 327242)

In [182]:
a.date()

datetime.date(2025, 1, 8)

In [183]:
a.time()

datetime.time(13, 28, 41, 327242)

In [185]:
a.year

2025

In [186]:
a.isoweekday()

3

In [188]:
a   # ITS IN TUPLE FORMAT

datetime.datetime(2025, 1, 8, 13, 28, 41, 327242)

In [190]:
a.strftime("%Y-%m,%d")

'2025-01,08'

In [193]:
a.strftime("%y-%m,%d")

'25-01,08'

In [194]:
a.strftime("%A")

'Wednesday'

In [200]:
a.strftime("%B")

'January'

In [207]:
DOB_year = int(input("Enter year"))

In [208]:
DOB_month = int(input("Enter month"))

In [209]:

DOB_date = int(input("Enter date"))

In [236]:
from datetime import datetime
import datetime as dt

In [232]:
final_DOB = datetime(DOB_year,DOB_month,DOB_date)
final_DOB

datetime.datetime(2024, 5, 10, 0, 0)

In [233]:
type(final_DOB)

datetime.datetime

In [234]:
strtime = "2025-01-08"

In [237]:
time = dt.datetime.strptime(strtime,"%Y-%m-%d")
time

datetime.datetime(2025, 1, 8, 0, 0)